@using WebApplication.Models;
@model List<ClasseViewModel>
@{
    ViewBag.Title = "Index";
}
@Scripts.Render("~/bundles/jquery")

<div id="content">
    <table class="table table-bordered">
        <tr>
            <th>Nom établissement</th>
            <th>Niveau de la classe</th>
        </tr>
        @foreach (ClasseViewModel vm in Model)
        {
            <tr>
                <td>@vm.NomEtablissement</td>
                <td>@vm.Niveau</td>
                <td>
                    <a class="btn btn-primary" href="@Url.Action("DetailClasse", "Classe", new { classId = vm.ClassId })">Détail</a>
                </td>
            </tr>
        }
    </table>
</div>