@{
    ViewBag.Title = "Home Page";
}
@Scripts.Render("~/bundles/jquery")

<div class="col-sm-12">
    <a href='@Url.Action("Index", "Eleve", new { criterias = String.Empty })'>Liste des élèves</a>
</div>
<div class="col-sm-12">
    <a href='@Url.Action("Index", "Classe")'>Liste des classes</a>
</div>

<div id="bestEleves">

</div>

<div id="lastAbsences">


</div>

<script>

    function getBestEleves() {
        var serviceURL = '/Eleve/GetBestEleves';
        $.ajax({
            url: serviceURL,
            success: function (data) {
                console.log(data);
                $("#bestEleves").html(data);
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

    /*function getLastAbsences() {
        var serviceURL = '/Absence/GetLastAbsences';
        $.ajax({
            url: serviceURL,
            success: function (data) {
                console.log(data);
                $("#lastAbsences").html(data);
            },
            error: function (error) {
                console.log(error);
            }
        });
    }*/

    $(document).ready(function () {
        getBestEleves();
       // getLastAbsences();
    });

</script>