@using WebApplication.Models;
@model List<AbsenceViewModel>
@Scripts.Render("~/bundles/jquery")

<table class="table table-bordered">
    <tr>
        <th>Date de l'absence</th>
        <th>Motif</th>
    </tr>
    @foreach (AbsenceViewModel vm in Model)
    {
        <tr>
            <td>@vm.DateAbsence.ToString("dd/MM/yyyy")</td>
            <td>@vm.Motif</td>
        </tr>
    }
</table>
